<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="esei.uvigo.es.dm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".View.Controlador"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MenuPrincipal" />
        <activity android:name=".View.MenuEquipo" />
        <activity android:name=".View.MenuPartido" />
        <activity android:name=".View.JugadorEditionActivity" />
        <activity android:name=".View.PartidoEditionActivity" />
        <activity android:name=".View.ListaJugador" />
        <activity android:name=".View.ListaPartido" />
        <activity android:name=".View.WebView" />
        <activity android:name=".View.WebComment" />
        <activity android:name=".View.AnadirEquipo" />
        <activity android:name=".View.ListaEquipo" />
        <activity android:name=".View.MenuEntrenamiento" />
        <activity android:name=".View.EntrenamientoEditionActivity" />
        <activity android:name=".View.ListaEntrenamiento"></activity>
    </application>

</manifest>